<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teachers Profile</title>

    <!-- Bootstrap Files -->
    <link rel="stylesheet" href="./../styles/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./../styles/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../styles/bootstrap-4.0.0-dist/css/bootstrap-reboot.css">
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="./../styles/teachers_profile.css">
</head>
<body>


<!-- jQuery -->
<script src="./../scripts/vendor_scripts/jquery-3.3.1.js"></script>

<!-- Custom Scripts-->
<script src="./../scripts/script.js"></script>
<script src="./../scripts/teachers_profile.js"></script>
    
</body>
</html>